flake8
pytest
mock
pytest-mock
wheel
setuptools>=17.1
pexpect
pypandoc
pytest-benchmark
pytest-docker-pexpect
twine
langchain-core
langchain-openai
langchain-deepseek
langchain-anthropic
langchain-community